<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
</head>

<body>
  <div class="row">
    <div class="col-4">
      <div class="list-group" id="list-tab" role="tablist">
        <% for (let item in items) { %>
          <a class="list-group-item list-group-item-action" data-bs-toggle="list"
            href="<%= '#list-' + item %>" role="tab">
            <%= item %>
          </a>
          <% } %>
      </div>
    </div>
    <div class="col-8">
      <div class="tab-content" id="nav-tabContent">
        <% for (let item in items) { %>
          <div class="tab-pane fade show" id="<%= 'list-' + item %>" role="tabpanel">
            <ul class="list-group">
              <li class="list-group-item">
                Capital City: <%= items[item].capital %>
              </li>
              <li class="list-group-item">
                Currency: <%= items[item].currency %>
              </li>
              <li class="list-group-item">
                Language: <%= items[item].lang %>
              </li>
            </ul>
          </div>
          <% } %>
      </div>
    </div>
  </div>
  <script src="./bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>